[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}

[packages]
toml = "*"
coloredlogs = "*"
pysqlcipher3 = "*"
click = "*"
termcolor = "*"
pandas = "*"
dash = "*"
dash-daq = "*"
emoji = "*"

[requires]
python_version = "3.7"
